Repository fabioluiz1/thanx-take-home: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, web-eslint, terraform-validate

rubocop:
  name: RuboCop
  entry: bash -c 'cd api && bin/rubocop'
  language: system
  pass_filenames: false

web-eslint:
  name: ESLint (web)
  entry: bash -c 'files=(); for f in "$@"; do files+=("${f#web/}"); done; cd web && mise exec -- bun x eslint -- "${files[@]}"' --
  language: system
  pass_filenames: true

terraform-validate:
  name: Terraform Validate
  entry: bash -c 'cd terraform && terraform validate'
  language: system
  pass_filenames: false

fix(#6): Fix JMESPath query syntax in deployment stability check
  .github/workflows/deploy.yml
Due: none

fix(#6): Fix web service health check to use curl instead of wget
  terraform/modules/ecs/main.tf
Due: terraform-validate

fix(#6): Make database seed fully idempotent to run with every deploy
  api/db/seeds.rb
Due: rubocop

feat(#6): Add terraform apply and database seeding to CD pipeline
  .github/workflows/deploy.yml
Due: none

fix(#6): Add terraform init to CD pipeline
  .github/workflows/deploy.yml
Due: none

fix(#6): Pass backend bucket config to terraform init in CD pipeline
  .github/workflows/deploy.yml
Due: none

feat(#6): Add S3 and DynamoDB permissions to GitHub Actions OIDC role
  terraform/README.md
  terraform/oidc.tf
Due: terraform-validate

docs(#6): Document GitHub Actions OIDC S3 permission error fix
  docs/aws-setup.md
Due: none

fix(#6): Add default value for budget_email variable
  terraform/variables.tf
Due: terraform-validate

fix(#6): Set budget_email to GitHub Actions pusher email in CD pipeline
  .github/workflows/deploy.yml
Due: none

feat(#6): Add IAM, EC2, RDS, ECS, ECR, Logs, SSM, Budget permissions to GitHub Actions OIDC role
  .github/workflows/deploy.yml
  terraform/oidc.tf
Due: terraform-validate

fix(#6): Add remaining tagging and describe permissions to OIDC role
  .github/workflows/deploy.yml
  terraform/oidc.tf
Due: terraform-validate

fix(#6): Add SSM and RDS tagging permissions to OIDC role
  terraform/oidc.tf
Due: terraform-validate

fix(#6): Add final missing IAM permissions to OIDC role
  terraform/oidc.tf
Due: terraform-validate

fix(#6): Add stale lock cleanup before terraform apply in CD pipeline
  .github/workflows/deploy.yml
Due: none

fix(#6): Fix stale lock cleanup - use correct LockID field from DynamoDB
  .github/workflows/deploy.yml
Due: none

fix(#6): Fix database seeds validation error
  api/db/seeds.rb
Due: rubocop

fix(#6): Fix frontend API connectivity to backend
  web/Dockerfile
  web/src/services/api.ts
Due: web-eslint

fix(#6): Add missing IAM permissions to GitHub Actions OIDC role
  terraform/oidc.tf
Due: terraform-validate

fix(#6): Increase API health check grace period for YJIT boot time
  terraform/modules/ecs/main.tf
Due: terraform-validate

fix(#6): Pass Sentry DSN and git SHA to Terraform for API error tracking
  .github/workflows/deploy.yml
Due: none

fix(#6): Use dynamic DNS resolution in nginx for API proxy
  web/nginx.conf
Due: none

fix(#6): Fix markdown linting errors (line length and list formatting)
  docs/aws-setup.md
  terraform/README.md
Due: none

Path conditions:
  rubocop: any of: \.rb$
  web-eslint: any of: ^web/.*\.(ts|tsx)$
  terraform-validate: any of: ^terraform/.*\.tf$
