Repository fabioluiz1/thanx-take-home: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, web-eslint, terraform-validate

rubocop:
  name: RuboCop
  entry: bash -c 'cd api && bin/rubocop'
  language: system
  pass_filenames: false

web-eslint:
  name: ESLint (web)
  entry: bash -c 'files=(); for f in "$@"; do files+=("${f#web/}"); done; cd web && mise exec -- bun x eslint -- "${files[@]}"' --
  language: system
  pass_filenames: true

terraform-validate:
  name: Terraform Validate
  entry: bash -c 'cd terraform && terraform validate'
  language: system
  pass_filenames: false

docs(#1): Add initial implementation plan
  .claude/plans/01-initial-plan.md
  web/package-lock.json
Due: none

fix(#1): Handle missing git command in Sentry initializer
  api/config/initializers/sentry.rb
Due: rubocop

fix: Bind Puma to 0.0.0.0 for Docker inter-container communication
  api/config/puma.rb
Due: rubocop

fix: Allow Docker container hostname in host authorization
  api/config/environments/development.rb
Due: rubocop

feat(#2): Add users API endpoint with Alba serializer
  api/app/controllers/api/v1/users_controller.rb
  api/app/controllers/application_controller.rb
  api/app/controllers/concerns/sentry_context.rb
  api/app/serializers/user_resource.rb
  api/config/routes.rb
  api/test/controllers/api/v1/users_controller_test.rb
Due: rubocop

docs(#2): Plan user points balance feature
  .claude/plans/002-user-points-balance.md
Due: none

feat(#2): Add User model with points balance
  api/Gemfile
  api/Gemfile.lock
  api/app/models/user.rb
  api/db/migrate/20260108180644_create_users.rb
  api/db/schema.rb
  api/test/fixtures/users.yml
  api/test/models/user_test.rb
Due: rubocop

docs(#3): Plan Browse Available Rewards
  .claude/plans/003-browse-available-rewards.md
Due: none

feat(#3): Add Reward model with points cost
  api/app/models/reward.rb
  api/db/migrate/20260108163010_create_rewards.rb
  api/db/schema.rb
  api/test/fixtures/rewards.yml
  api/test/models/reward_test.rb
Due: rubocop

fixup! feat(#2): Add PointsBalance component with tests
  web/src/components/user/PointsBalance.tsx
  web/src/store/userSlice.ts
  web/src/types/user.ts
Due: web-eslint

feat(#3): Add RewardCard component with out-of-stock indicator
  web/src/components/rewards/RewardCard.module.css
  web/src/components/rewards/RewardCard.test.tsx
  web/src/components/rewards/RewardCard.tsx
Due: web-eslint

feat(#2): Add demo user seed data
  api/db/seeds.rb
Due: rubocop

feat(#2): Add PointsBalance component with tests
  web/src/App.test.tsx
  web/src/App.tsx
  web/src/components/user/PointsBalance.test.tsx
  web/src/components/user/PointsBalance.tsx
  web/vitest.config.ts
Due: web-eslint

feat(#3): Add useRewards custom hook
  web/src/hooks/useRewards.test.tsx
  web/src/hooks/useRewards.ts
  web/src/setupTests.ts
  web/vitest.config.ts
Due: web-eslint

feat(#3): Add demo rewards seed data
  api/db/seeds.rb
Due: rubocop

feat(#3): Add RewardCardSkeleton component
  web/src/components/rewards/RewardCardSkeleton.module.css
  web/src/components/rewards/RewardCardSkeleton.test.tsx
  web/src/components/rewards/RewardCardSkeleton.tsx
Due: web-eslint

feat(#3): Add rewards API endpoint with Alba serializer
  api/app/controllers/api/v1/rewards_controller.rb
  api/app/serializers/reward_resource.rb
  api/config/routes.rb
  api/test/controllers/api/v1/rewards_controller_test.rb
Due: rubocop

feat(#2): Add Redux store with user slice
  web/bun.lockb
  web/package.json
  web/src/main.tsx
  web/src/services/api.ts
  web/src/store/hooks.ts
  web/src/store/index.ts
  web/src/store/userSlice.ts
  web/src/types/user.ts
Due: web-eslint

feat(#3): Add Redux rewards slice with async thunk
  web/src/store/index.ts
  web/src/store/rewardsSlice.ts
  web/src/types/reward.ts
Due: web-eslint

feat(#3): Add RewardsList component with states
  web/src/App.test.tsx
  web/src/App.tsx
  web/src/components/rewards/RewardsList.module.css
  web/src/components/rewards/RewardsList.test.tsx
  web/src/components/rewards/RewardsList.tsx
  web/src/store/rewardsSlice.ts
Due: web-eslint

fix(#5): Fix slow RedemptionHistory tests - add preloaded state and timeouts
  web/src/components/redemptions/RedemptionHistory.test.tsx
Due: web-eslint

feat(#5): Add redemptions history slice and async thunk
  web/src/hooks/useRedemptionHistory.ts
  web/src/store/index.ts
  web/src/store/redemptionHistorySlice.ts
  web/src/types/redemption.ts
Due: web-eslint

feat(#4): Add RedeemButton component
  web/src/components/rewards/RedeemButton.module.css
  web/src/components/rewards/RedeemButton.test.tsx
  web/src/components/rewards/RedeemButton.tsx
Due: web-eslint

feat(#4): Add RedemptionConfirmModal component
  web/src/components/rewards/RedemptionConfirmModal.module.css
  web/src/components/rewards/RedemptionConfirmModal.test.tsx
  web/src/components/rewards/RedemptionConfirmModal.tsx
Due: web-eslint

docs(#4): Plan Redeem a Reward
  .claude/plans/004-redeem-reward.md
Due: none

feat(#4): Add POST /api/v1/redemptions endpoint
  api/app/controllers/api/v1/redemptions_controller.rb
  api/app/serializers/redemption_resource.rb
  api/config/routes.rb
  api/test/controllers/api/v1/redemptions_controller_test.rb
Due: rubocop

feat(#4): Add RedemptionService with pessimistic locking
  api/app/services/redemption_service.rb
  api/test/services/redemption_service_test.rb
Due: rubocop

feat(#4): Integrate RedeemButton and Modal into RewardCard
  api/test/controllers/api/v1/users_controller_test.rb
  web/src/App.test.tsx
  web/src/components/rewards/RewardCard.module.css
  web/src/components/rewards/RewardCard.test.tsx
  web/src/components/rewards/RewardCard.tsx
  web/src/components/rewards/RewardsList.test.tsx
Due: rubocop, web-eslint

feat(#4): Add Redemption model with migration
  api/app/models/redemption.rb
  api/app/models/reward.rb
  api/app/models/user.rb
  api/db/migrate/20260108204345_create_redemptions.rb
  api/db/schema.rb
  api/test/fixtures/redemptions.yml
  api/test/models/redemption_test.rb
Due: rubocop

feat(#5): Add React Router with history route
  web/bun.lockb
  web/package.json
  web/src/App.test.tsx
  web/src/App.tsx
  web/src/components/navigation/Navigation.module.css
  web/src/components/navigation/Navigation.tsx
  web/src/main.tsx
Due: web-eslint

feat(#5): Add RedemptionHistory page and RedemptionItem components with tests
  web/src/components/redemptions/RedemptionHistory.module.css
  web/src/components/redemptions/RedemptionHistory.test.tsx
  web/src/components/redemptions/RedemptionHistory.tsx
  web/src/components/redemptions/RedemptionItem.test.tsx
  web/src/components/redemptions/RedemptionItem.tsx
  web/src/components/redemptions/RedemptionItemSkeleton.tsx
Due: web-eslint

feat(#5): Add index action to RedemptionsController with tests
  api/app/controllers/api/v1/redemptions_controller.rb
  api/config/routes.rb
  api/test/controllers/api/v1/redemptions_controller_test.rb
Due: rubocop

feat(#5): Wire up RedemptionHistory to App routing
  web/src/App.test.tsx
  web/src/App.tsx
Due: web-eslint

docs(#5): Plan Redemption History
  .claude/plans/005-redemption-history.md
Due: none

feat(#4): Add post method to API client
  web/src/services/api.ts
Due: web-eslint

feat(#4): Add Modal component
  web/src/components/ui/Modal.module.css
  web/src/components/ui/Modal.test.tsx
  web/src/components/ui/Modal.tsx
Due: web-eslint

feat(#4): Add Redemption types and Redux slice
  web/src/store/index.ts
  web/src/store/redemptionSlice.ts
  web/src/types/redemption.ts
Due: web-eslint

fix(#5): Fix TypeScript compilation errors
  web/src/components/rewards/RewardCard.test.tsx
  web/src/services/api.ts
Due: web-eslint

fix(#5): Add missing fetched flag to UserState in test preloadedState
  web/src/components/redemptions/RedemptionHistory.test.tsx
  web/src/components/rewards/RewardCard.test.tsx
  web/src/components/rewards/RewardsList.test.tsx
Due: web-eslint

feat(#12): Add global styles and import theme
  web/src/main.tsx
  web/src/styles/global.css
Due: web-eslint

Path conditions:
  rubocop: any of: \.rb$
  web-eslint: any of: ^web/.*\.(ts|tsx)$
  terraform-validate: any of: ^terraform/.*\.tf$
