Repository fabioluiz1/thanx-take-home: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, web-eslint, terraform-validate

.pre-commit-config.yaml:

repos:
  # Commit message validation
  - repo: local
    hooks:
      - id: validate-commit-msg
        name: Validate commit message format
        entry: scripts/validate-commit-msg
        language: script
        stages: [commit-msg]

  # Branch name validation
  - repo: local
    hooks:
      - id: check-branch-name
        name: Check branch name format
        entry: scripts/check-branch-name
        language: script
        stages: [pre-commit]
        pass_filenames: false
        always_run: true

  # Commit author validation
  - repo: local
    hooks:
      - id: validate-commit-author
        name: Validate commit author
        entry: scripts/validate-commit-author
        language: script
        stages: [pre-commit]
        pass_filenames: false
        always_run: true

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: ['--config', '.markdownlint.json']

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint-docker
        name: Lint Dockerfiles

  # Ruby linting
  # Note: RuboCop hook assumes execution from repository root
  # Git commits must be made from the repository root directory
  - repo: local
    hooks:
      - id: rubocop
        name: RuboCop
        entry: bash -c 'cd api && bin/rubocop'
        language: system
        files: \.rb$
        pass_filenames: false

  # Web linting and formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: '^web/.*\.(ts|tsx|json|css)$'
        stages: [pre-commit]
        args: ['--write']
      - id: prettier
        name: prettier (check-only for CI)
        files: '^web/.*\.(ts|tsx|json|css)$'
        stages: [manual]
        args: ['--check']

  - repo: local
    hooks:
      - id: web-eslint
        name: ESLint (web)
        entry: bash -c 'files=(); for f in "$@"; do files+=("${f#web/}"); done; cd web && mise exec -- bun x eslint -- "${files[@]}"' --
        language: system
        files: '^web/.*\.(ts|tsx)$'
        pass_filenames: true

  # Terraform validation
  - repo: local
    hooks:
      - id: terraform-validate
        name: Terraform Validate
        entry: bash -c 'cd terraform && terraform validate'
        language: system
        files: '^terraform/.*\.tf$'
        pass_filenames: false

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        # Exclude ERB templates which aren't valid YAML until processed
        exclude: 'database\.yml$'
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

feat(#12): Update redemption components with theme
  web/src/components/redemptions/RedemptionHistory.module.css
  web/src/components/rewards/RedemptionConfirmModal.module.css
Due: none

feat(#12): Create Thanx logo component
  web/src/components/branding/ThanxLogo.module.css
  web/src/components/branding/ThanxLogo.tsx
  web/src/components/branding/thanx-logo.avif
Due: web-eslint

feat(#12): Add app container styling with dark background
  web/src/App.module.css
  web/src/App.tsx
Due: web-eslint

chore(#5): Configure Docker inter-container networking and API proxy
  docker-compose.yml
  web/Dockerfile
  web/nginx.conf
  web/src/services/api.ts
Due: web-eslint

feat(#12): Update navigation with Thanx branding
  web/src/components/navigation/Navigation.module.css
  web/src/components/navigation/Navigation.tsx
Due: web-eslint

fix(#5): Prevent infinite render loop in RedemptionHistory on failed fetch
  web/src/store/redemptionHistorySlice.ts
Due: web-eslint

feat(#12): Update reward cards to use theme colors
  web/src/components/rewards/RedeemButton.module.css
  web/src/components/rewards/RewardCard.module.css
  web/src/components/rewards/RewardCardSkeleton.module.css
  web/src/components/rewards/RewardsList.module.css
Due: none

feat(#12): Update modal component with theme
  web/src/components/ui/Modal.module.css
Due: none

docs(#5): Document Redux testing lessons learned
  .claude/plans/005-redemption-history.md
  CLAUDE.md
Due: none

fix(#5): Fix markdown formatting for pre-commit hook
  .claude/plans/005-redemption-history.md
Due: none

feat(#12): Create CSS theme with color and spacing variables
  web/src/styles/theme.css
Due: none

docs(#12): Plan Thanx Brand Theme implementation
  .claude/plans/012-thanx-brand-theme.md
Due: none

feat(#12): Update app UI with new logo and white background
  web/src/App.module.css
  web/src/App.tsx
  web/src/components/branding/ThanxLogo.tsx
  web/src/components/branding/thanx-logo.avif
  web/src/components/branding/thanx-logo.png
  web/src/components/navigation/Navigation.module.css
  web/src/components/navigation/Navigation.tsx
  web/src/components/rewards/RewardsList.module.css
  web/src/components/rewards/RewardsList.tsx
  web/src/styles/global.css
Due: web-eslint

feat(#12): Add global styles and import theme
  web/src/main.tsx
  web/src/styles/global.css
Due: web-eslint

fix(#12): Fix failing test assertions in RewardsList and App tests
  web/src/App.test.tsx
  web/src/components/rewards/RewardsList.test.tsx
Due: web-eslint

docs(#6): Plan Documentation
  .claude/plans/006-documentation.md
Due: none

docs(#6): Add "How to Test" section to root README
  README.md
Due: none

docs(#6): Replace api/README.md with complete backend documentation
  api/README.md
Due: none

docs(#6): Reorganize web/README.md Resources section - prioritize project docs
  web/README.md
Due: none

docs(#6): Expand architecture.md with database schema and implementation details
  architecture.md
Due: none

docs(#6): Expand web/README.md with frontend architecture and testing patterns
  web/README.md
Due: none

docs(#6): Deploy documentation changes
  docs/deployment.md
  web/src/components/redemptions/RedemptionItemSkeleton.tsx
  web/src/components/rewards/RedeemButton.test.tsx
  web/src/components/rewards/RedemptionConfirmModal.test.tsx
  web/src/components/rewards/RewardsList.module.css
  web/src/components/user/PointsBalance.test.tsx
  web/src/services/api.ts
  web/src/store/redemptionHistorySlice.ts
  web/src/styles/theme.css
Due: web-eslint

docs: Add AWS SSO login step to deployment guide
  docs/deployment.md
Due: none

docs: Add AWS SSO setup to deployment guide and make admin profile default
  README.md
  docs/aws-setup.md
  docs/deployment.md
  terraform/README.md
Due: none

fix(#6): Update GitHub org/repo in OIDC configuration to match actual repository
  terraform/variables.tf
Due: terraform-validate

fix(#6): Add CA certificates to Docker build stage for Sentry SSL connections
  web/Dockerfile
Due: none

fix(#6): Update curl version to 8.12.1-r1 in web Dockerfile
  web/Dockerfile
Due: none

fix(#6): Add CloudMap service discovery for inter-service communication
  .github/workflows/deploy.yml
  terraform/modules/ecs/main.tf
Due: terraform-validate

fix(#6): Fix nginx CloudMap hostname and add deployment failfast measures
  .github/workflows/deploy.yml
  web/nginx.conf
Due: none

fix(#6): Handle None value in ECS service stability check
  .github/workflows/deploy.yml
Due: none
